{% extends 'master/master.html '%} {% block content %}
<br><br>
<!-- CSS -->
<link href="https://cdn.jsdelivr.net/npm/smartwizard@6/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
<!-- JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/smartwizard@6/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>


<form>
<h4 align="center" style="color:blueviolet">KNOW YOUR CUSTOMER (KYC) APPLICATION FORM</h4>
<br>
<div class="container " id="smartwizard" >					
        <div  class="panel panel-primary" >						
			<ul class="nav nav-pills">
			  <li class="active"><a href="#tab1">Personal Identification</a></li>
			  <li><a href="#tab2">Address</a></li>
			  <li><a href="#tab3">Family Description</a></li>
			  <li><a href="#tab4">Income/Expense Details</a></li>
			</ul>
		</div>		
  <br>
<div class="tab-content center" >
	<div id="tab1" class="tab-pane fade in active">
        <div  class="panel panel-primary" >
            <div class="panel-body">
                <div class="form-group row">
                    <div class="col-md-4 mb-3">
                        <label for="fname"class="text-dark">First Name (पहिलो नाम )*</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="mname" class="text-dark">Middle Name (बीचको नाम )</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="lname" class="text-dark">Last Name (अन्तिम अर्थात् थर) *</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    
                </div>
            </div>
			<div class="panel-body">
                <div class="form-group row">
					<div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Photo (फोटो)<input type="file"></span></div>
                  <div class="col-md-4 mb-3">
					<label for="fhusband">Father (बाबुको नाम *)</label><input type="text" class="form-control" placeholder="">   </div>
				
					<div class="col-md-4 mb-3">
						<label>Grand Father *</label><input type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
			<div class="panel-body">
                <div class="form-group row">
                    <div class="col-md-4 mb-3">
						<label for="datepicker">Date Of Birth (वि.सं.मा :)*</label><input type="date" class="form-control" placeholder=""></div>			     		
						 <div class="col-md-4 mb-3"><label class="control-label">Gender (लिङ्ग)</label>
						 <select name="gender" class="form-control beta">
						  <option value="M">Male</option>
							 <option value="F">Female</option>
							 <option value="O">Others</option>
						  </select>
					</div>
					<div class="col-md-4 mb-3"><label class="control-label">Martial Status (वैवाहिक स्थिति )</label>
						 <select name="gender" class="form-control beta">
						  <option value="M">Married</option>
							 <option value="UM">Unmarried</option>
							 <option value="W">Widow</option>
						  </select>
                    </div>
                </div>
            </div>
			<div class="panel-body">
				<div class="form-group row">
					<div class="col-md-4 mb-3">
						<label>Nationality  *</label><select name="Nationality" class="form-control beta">
            				<option value="N">Neplese</option>
           					<option value="O">Others</option>
       					 </select>
					</div>
					<div class="col-md-4 mb-3">
						<label>PAN No *</label><input type="text" class="form-control" placeholder="">
					</div>
					<div class="col-md-4 mb-3"><label>Email Address (ईमेल )</label><input type="email" class="form-control" placeholder=""></div>   	

				</div>
			</div>
			<div class="panel-body">
				<h4>Citizenship (नागरिकता)</h4>
				<div class="form-group row">
					<div class="col-md-4 mb-3">
						<label>Citizenship No. (नागरिकता नं.)*</label>
						<input type="text" class="form-control" placeholder="">
                    </div>
					<div class="col-md-4 mb-3">
						<label>Issued From (जारी गर्ने जिल्ला) *</label><select name="district" class="form-control beta">
            				<option value="K">Kathmandu</option>
           					<option value="B">Bhaktapur</option>
           					<option value="L">Lalitpur</option>
       					 </select>
					</div>
					<div class="col-md-4 mb-3">
						<label>Issued Date (जारी मिति) *</label><input type="date" class="form-control">
					</div>
					<div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Front-Photo (फोटो)<input type="file"></span></div>
					<div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Back-Photo (फोटो)<input type="file"></span></div>

					</div>
				</div>
				<div class="panel-body">
					<h4>Passport</h4>
					<div class="form-group row">
					<div class="col-md-4 mb-3">
						<label>Passport No.*</label>
						<input type="text" class="form-control" placeholder="">
					</div>
					<div class="col-md-4 mb-3">
						<label>Issued From (जारी गर्ने जिल्ला) *</label><select name="district" class="form-control beta">
            				<option value="K">Kathmandu</option>
           					<option value="B">Bhaktapur</option>
           					<option value="L">Lalitpur</option>
       					 </select>
					</div>
					<div class="col-md-4 mb-3">
						<label>Issued Date (जारी मिति) *</label><input type="date" class="form-control">
					</div>
					<div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Front-Photo (फोटो)<input type="file"></span></div>
					<div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Back-Photo (फोटो)<input type="file"></span></div>

				</div>
			</div>
				<div class="panel-body">
						<h4>Other ID Card</h4>
				<div class="form-group row">
					<div class="col-md-4">
						<label>Other ID Card Type</label><input type="text" class="form-control" placeholder="">
					</div>
					<div class="col-md-4">
						<label>ID Card No.</label><input type="text" class="form-control" placeholder="">
					</div>
					<div class="col-md-4 mb-3">
						<label>Issued Date (जारी मिति) </label><input type="date" class="form-control">
					</div>
					<div class="col-md-4 mb-3">
						<label>Issuing Authority</label><input type="text" class="form-control">
					</div>
					<div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Front-Photo (फोटो)<input type="file"></span></div>
					<div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Back-Photo (फोटो)<input type="file"></span></div>

				</div>
		</div>
		
	</div>
	</div>
  			<br><br>
			  <div id="tab2" class="tab-pane ">
				<div  class="panel panel-primary " >
					<div class="panel-body">
						<div class="form-group row">
						<h4>Details of Family Member</h4>
							<table class="table table-bordered">
							 <thead >
								 <tr>
									 <th>S.N.</th>
									 <th>Relation</th>
									 <th>Family Member Full Name</th>
									 <th>Remarks</th>
								 </tr>
							 </thead>
							 <tbody>
								 <tr>
									 <td>1</td>
									 <td>Spouce</td>					               
									 <td><input type="text" class="form-control"></td>  
									 <td><input type="text" class="form-control"></td>					                					       	
									</tr>
									<tr>
									 <td>2</td>
									 <td>Father (बाबुको नाम)</td>					               
									 <td><input type="text" class="form-control"></td>  
									 <td><input type="text" class="form-control"></td>
									 					                					       	
									</tr>
									<tr>
									 <td>3</td>
									 <td>Mother</td>					               
									 <td><input type="text" class="form-control"></td>  
									 <td><input type="text" class="form-control"></td>
														                					       	
									</tr>
									<tr>
									 <td>4</td>
									 <td>Father-in-Law</td>					               
									 <td><input type="text" class="form-control"></td>  
									 <td><input type="text" class="form-control"></td>
									 				                					       	
									</tr>
									<tr>
									 <td>5</td>
									 <td>GrandFather/GrandFather-in-Law</td>					               
									 <td><input type="text" class="form-control"></td>  
									 <td><input type="text" class="form-control"></td>
															                					       	
									</tr>
									<tr>
									 <td>6</td>
									 <td>Son 1</td>					               
									 <td><input type="text" class="form-control"></td>  
									 <td><input type="text" class="form-control"></td>
									
									</tr>
									<tr>
									 <td>7</td>
									 <td>Son 2</td>					               
									 <td><input type="text" class="form-control"></td>  
									 <td><input type="text" class="form-control"></td>
														                					       	
									</tr>
									<tr>
									 <td>8</td>
									 <td>Daughter 1</td>					               
									 <td><input type="text" class="form-control"></td>  
									 <td><input type="text" class="form-control"></td>				                					       	
									</tr>
									<tr>
									 <td>9</td>
									 <td>Daughter 2</td>					               
									 <td><input type="text" class="form-control"></td>  
									 <td><input type="text" class="form-control"></td>
														                					       	
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="panel-footer col-md-4">
						<button type="button" class="btn btn-primary btnPrevious">Back</button>
						<button type="button" class="btn btn-primary btnNext" style="float: right;">Next</button>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div id="tab3" class="tab-pane ">
				<div  class="panel panel-primary" >
				<!--Permanent Adress Panel Start -->
				  <div class="panel-body">  
					<h4>Permanent Address (स्थायी ठेगाना)</h4> 
						 	
						  <div class="form-group row">
							<div class="col-md-4 mb-3"><label for="lzone">Zone *</label><select name="zone" class="form-control beta">
								 <option value="B">Bagmati</option>
									<option value="N">Narayani</option>
									<option value="N">Janakpur</option>
								 </select>
	 
								</div>
						   <div class="col-md-4 mb-3"><label for="lDistrict">District (जिल्ला)*</label><select name="district" class="form-control beta">
								 <option value="K">Kathmandu</option>
									<option value="B">Bhaktapur</option>
									<option value="L">Lalitpur</option>
								 </select>
							</div>
							<div class="col-md-4 mb-3"><label for="lProvience">Provience*</label><select name="provience" class="form-control beta">
								<option value="B">Bagmati</option>
								   <option value="K">Koshi</option>
								   <option value="M">Madhesh</option>
								   <option value="G">Gandaki</option>
								   <option value="L">Lumbini</option>
								   <option value = "KA">Karnali</option>
								   <option value="S">Sudurpashchim</option>
								</select>
						   </div>
						   <div class="col-md-4 mb-3"><label for="lMunicipalityVdc">Municipality/VDC (न.पा/गा.वि.स.)*</label><input type="text" class="form-control" placeholder="Municipality/Zone"</div></div>
						   <div class="col-md-4 mb-3"><label for="lWard No.">Ward No.(वडा नं ) *</label><input type="text" class="form-control" placeholder="Ward No."</div>
						  </div>	
						   <div class="col-md-4 mb-3"><label for="lHouseNo">House No.(घर नं. ) </label><input type="text" class="form-control" placeholder="House No."</div>
						  </div>	
						   <div class="col-md-4 mb-3"><label for="lStreet">Street/Tole (टोल )*</label><input type="text" class="form-control" placeholder="Street No"</div>
						  </div>
						   <div class="col-md-4 mb-3"><label for="ltelno">Tel.No.(फोन नं) </label><input type="text" class="form-control" placeholder="Telephone No"</div>
						  </div>	
						   <div class="col-md-4 mb-3"><label for="P.Box.No">P.Box. No.</label><input type="text" class="form-control" placeholder="Post Box. No."</div>
						  </div>	
					 </div>	
				 </div>
				 <!--permanent Adress Panel Ending -->
	 
				 <!--Temporary Adress Panel Start -->
				  <div class="panel-body"> 
					
				  <h4 >Current Address</h4>	
				   <div class="form-group row">	
					  <div class="col-md-4 mb-3"><label for="lzone">Zone *</label><select name="zone" class="form-control beta">
								 <option value="B">Bagmati</option>
									<option value="N">Narayani</option>
									<option value="N">Janakpur</option>
								 </select>
	 
								</div>
						   <div class="col-md-4 mb-3"><label for="lDistrict">District (जिल्ला) *</label><select name="district" class="form-control beta">
								 <option value="K">Kathmandu</option>
									<option value="B">Bhaktapur</option>
									<option value="L">Lalitpur</option>
								 </select>
							</div>
							<div class="col-md-4 mb-3"><label for="lProvience">Provience*</label><select name="provience" class="form-control beta">
								<option value="B">Bagmati</option>
								   <option value="K">Koshi</option>
								   <option value="M">Madhesh</option>
								   <option value="G">Gandaki</option>
								   <option value="L">Lumbini</option>
								   <option value = "KA">Karnali</option>
								   <option value="S">Sudurpashchim</option>
								</select>
						   </div>
						   <div class="col-md-4 mb-3"><label for="lMunicipalityVdc">Municipality/VDC (न.पा/गा.वि.स.)*</label><input type="text" class="form-control" placeholder="Municipality/Zone"</div></div>
						   <div class="col-md-3"><label for="lWard No.">Ward No.(वडा नं ) *</label><input type="text" class="form-control" placeholder="Ward No."</div>
						  </div>	
						   <div class="col-md-4 mb-3"><label for="lHouseNo">House No.(घर नं. ) </label><input type="text" class="form-control" placeholder="House No."</div>
						  </div>	
						   <div class="col-md-4 mb-3"><label for="lStreet">Street/Tole (टोल ) *</label><input type="text" class="form-control" placeholder="Street"</div>
						  </div>
						   <div class="col-md-4 mb-3"><label for="ltelno">Tel.No.(फोन नं) </label><input type="text" class="form-control" placeholder="Telephone No."</div>
						  </div>	
						  <div class="col-md-3 mb-3"><label for="P.Box.No">P.Box. No.</label><input type="text" class="form-control" placeholder="Post Box No."</div>
						  </div>
						  <div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Location Map(फोटो)<input type="file"></span></div>	
				 </div>
				 </div>
				 <!--Temporary Adress Panel Ending-->
				 <div class="panel-footer col-md-4">
					 <button type="button" class="btn btn-primary btnPrevious">Back</button>
					 <button type="button" class="btn btn-primary btnNext" style="float: right;">Next</button>
				 </div>
			  </div>
	</div>
	<br><br><br>
	<div id="tab4" class="tab-pane ">
		<div  class="panel panel-primary " >
			<div class="panel-body">
				<div class="form-group row">
				<h4>Details of Income Source</h4>
					<table class="table table-bordered">
					 <thead >
						 <tr>
							 <th>S.N.</th>
							 <th>Name of the Employer Organization</th>
							 <th>Address</th>
							 <th>Designation</th>
						 </tr>
					 </thead>
					 <tbody>
						 <tr>
							 <td></td>
							 <td></td>					               
							 <td><input type="text" class="form-control"></td>  
							 <td><input type="text" class="form-control"></td>					                					       	
							</tr>
							<tr>
							 <td></td>
							 <td></td>					               
							 <td><input type="text" class="form-control"></td>  
							 <td><input type="text" class="form-control"></td>
																								
							</tr>
							
						
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer col-md-4">
				<button type="button" class="btn btn-primary btnPrevious">Back</button>
				<button type="button" class="btn btn-primary btnNext" style="float: right;">Next</button>
			</div>
		</div>
		
	</div>
</div>
</div>
</div>
</form>
<script>
    $(function() {
        // SmartWizard initialize
        $('#smartwizard').smartWizard();
    });
</script>
{% endblock %}