{% extends 'master/master.html '%} {% block content %}
<br><br><br><br>
<!-- CSS -->
<link href="https://cdn.jsdelivr.net/npm/smartwizard@6/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.0.0-beta3/css/all.min.css">

<!-- JavaScript -->






<!-- SmartWizard html -->
<div class="container">
    {%if messages %} {% for message in messages %}
    <div class="alert alert-sucess" style="background-color: #ffc107; color:#000000;">{{message}}</div>
    {% endfor %} {% endif %}
    <h4 style="text-align: center; color: #009EF7; font-weight: 900;">KNOW YOUR CUSTOMER (KYC) APPLICATION FORM</h4>
   <h4> 
<br>
<div id="smartwizard" class = "center mx-auto">
    <ul class="nav" >
        <li class="nav-item">
            <a class="nav-link active" href="#tab1">
                <div class="num" >Personal Details</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link rounded-circle" href="#tab2">
                <div class="num ">Addresss</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link rounded-circle" href="#tab3">
                <div class="num"> Family Details</div>
              
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link rounded-circle" href="#tab4">
                <div class="num">Income Details</div>
    
            </a>
        </li>
    </ul>
    <br><br><br>
    <form  method="post" enctype="multipart/form-data">
        
    {% csrf_token %}
    <div class="tab-content center">
        <div id="tab1 "class="tab-pane" role="tabpanel" aria-labelledby="step-1">
            <div  class="panel panel-primary" >
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-4 mb-3">
                            <label for="fname"class="text-dark">First Name *</label>
                            {{form.firstname}}
                            {% if form.errors.firstname %}
                            <label class = "text-danger">{{ form.errors.firstname}}</label>
                             {% endif %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="mname" class="text-dark">Middle Name</label>
                            {{form.middlename}}
                            {% if form.errors.middlename %}
                            <label class = "text-danger">{{ form.errors.middlename}}</label>
                        {% endif %}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="lname" class="text-dark">Last Name *</label>
                            {{form.lastname}}
                            {% if form.errors.lastname %}
                            <label class = "text-danger">{{ form.errors.lastname}}</label>
                        {% endif %}
                        </div>
                        
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Photo * {{form.image}}</span></div>	
                      <div class="col-md-4 mb-3">
                        <label for="fhusband">Father Name *</label> {{form.fathername}}   {% if form.errors.fathername %}
                        <label class = "text-danger">{{ form.errors.fathername}}</label>
                    {% endif %}</div>
                    
                        <div class="col-md-4 mb-3">
                            <label for="fhusband">Grand Father *</label>{{form.grandfather}}   {% if form.errors.grandfather %}
                            <label class = "text-danger">{{ form.errors.grandfather}}</label>
                        {% endif %}</div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-4 mb-3">
                            <label for="datepicker">Date Of Birth *</label>{{form.dateofbirth}}</div>			     		
                             <div class="col-md-4 mb-3"><label class="control-label">Gender * </label>
                             {{form.gender}}
                        </div>
                        <div class="col-md-4 mb-3"><label class="control-label">Martial Status  *</label>
                             {{form.married_status}}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-md-4 mb-3">
                            <label>Nationality  *</label>
                            {{form.nationality}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>PAN No *</label>{{form.pannum}}
                        </div>
                        <div class="col-md-4 mb-3"><label>Email Address *</label>{{form.email}}</div>   	
                        <div class="col-md-4 mb-3"><label>Contact Number *</label>{{form.number}}</div>
                    </div>
                </div>
                <div class="panel-body">
                    <h4>Citizenship </h4>
                    <div class="form-group row">
                        <div class="col-md-4 mb-3">
                            <label>Citizenship No.*</label>
                            {{form.citizenshipnumber}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Issued From  *</label>{{form.citizen_issued_district}}
                                
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Issued Date  *</label>{{form.citizen_issued_date}}
                        </div>
                        <div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Front-Photo * {{form.front_photo}}</span></div>
                        <div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Back-Photo *{{form.back_photo}}</span></div>
    
                        </div>
                    </div>
                    <div class="panel-body">
                        <h4>Passport</h4>
                        <div class="form-group row">
                        <div class="col-md-4 mb-3">
                            <label>Passport No.*</label>
                            {{form.passport_number}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Issued From  *</label>
                            {{form.passport_issued_place}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Issued Date *</label>{{form.passport_issued_date}}
                        </div>
                        <div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Front-Photo{{form.pass_front_photo}}</div>
                        <div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Back-Photo {{form.pass_back_photo}}</span></div>
    
                    </div>
                </div>
                    <div class="panel-body">
                            <h4>Other ID Card</h4>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Other ID Card Type</label>{{form.other_card}}
                        </div>
                        <div class="col-md-4">
                            <label>ID Card No.</label>{{form.other_card_number}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Issued Date  </label>{{form.other_card_issued_date}}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Issuing Authority</label>{{form.other_card_issued_authority}}
                        </div>
                        <div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Front-Photo {{form.other_card_front}}</span></div>
                        <div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Back-Photo {{form.other_card_back}}</span></div>
    
                    </div>
            </div>
                     
        </div>  
        </div>
       
        <!-- ... (other tab-pane elements) ... -->
        <div id="tab2" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
            <div  class="panel panel-primary" >
				<!--Permanent Adress Panel Start -->
				  <div class="panel-body">  
					<h4>Permanent Address (स्थायी ठेगाना)</h4> 
						 	
						  <div class="form-group row">
            
							<div class="col-md-4 mb-3"><label for="lzone">Zone *</label>{{ form1.zone}}</div>
						   <div class="col-md-4 mb-3"><label for="lDistrict">District *</label>{{form1.district}}
							</div>
							<div class="col-md-4 mb-3"><label for="lProvience">Provience*</label>{{form1.provience}}
						   </div>
						   <div class="col-md-4 mb-3"><label for="lMunicipalityVdc">Municipality/VDC*</label>{{form1.muni_vdc}}</div>
						   <div class="col-md-4 mb-3"><label for="lWard No.">Ward No. *</label>{{form1.ward_no}}
						  </div>	
						   <div class="col-md-4 mb-3"><label for="lHouseNo">House No. </label>{{form1.house_no}}
						  </div>	
						   <div class="col-md-4 mb-3"><label for="lStreet">Street/Tole *</label>{{form1.street}}
						  </div>
						   <div class="col-md-4 mb-3"><label for="ltelno">Tel.No. </label>{{form1.tel_n0}}
						  </div>	
						   <div class="col-md-4 mb-3"><label for="P.Box.No">P.Box. No.</label>{{form1.post_box}}
						  </div>
                          <div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Location-Photo * {{form1.l_image}}</span></div>		
					 </div>	
				 </div>
				 <!--permanent Adress Panel Ending -->
              
				 <!--Temporary Adress Panel Start -->
				  <div class="panel-body" id="temporaryAddressSection"> 
					
				  <h4 >Current Address</h4>	
				   <div class="form-group row">	
					  <div class="col-md-4 mb-3"><label for="lzone">Zone *</label>{{form1.zone}}
	 
								</div>
						   <div class="col-md-4 mb-3"><label for="lDistrict">District  *</label>{{form1.district}}
							</div>
							<div class="col-md-4 mb-3"><label for="lProvience">Provience*</label>{{form1.provience}}
						   </div>
						   <div class="col-md-4 mb-3"><label for="lMunicipalityVdc">Municipality/VDC*</label>{{form1.muni_vdc}}</div>
						   <div class="col-md-3"><label for="lWard No.">Ward No.*</label>{{form1.ward_no}}
						  </div>	
						   <div class="col-md-4 mb-3"><label for="lHouseNo">House No. </label>{{form1.house_no}}
						  </div>	
						   <div class="col-md-4 mb-3"><label for="lStreet">Street/Tole  *</label>{{form1.street}}
						  </div>
						   <div class="col-md-4 mb-3"><label for="ltelno">Tel.No.</label>{{form1.tel_n0}}
						  </div>	
						  <div class="col-md-3 mb-3"><label for="P.Box.No">P.Box. No.</label>{{form1.post_box}}
						  </div>
                          <div class="col-md-4 mb-3"><span class="btn btn-default btn-file">Location-Photo * {{form1.l_image}}</span></div>	
				 </div>
				 </div>
				 <!--Temporary Adress Panel Ending-->
				
			  </div>
        </div>
        <div id="tab3" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
            <div  class="panel panel-primary " >
                <div class="panel-body">
                    <div class="form-group row">
                    <h4>Details of Family Member</h4>
                        <table class="table table-bordered">
                         <thead >
                             <tr>
                                 <th>S.N.</th>
                                 <th>Relation</th>
                                 <th>Family Member Full Name</th>
                                 <th>Remarks</th>
                             </tr>
                         </thead>
                         <tbody id="">
                           

                            <tr>
                                <td>1</td>
                                <td>{{ form3.f_relation }}</td>
                                <td>{{ form3.f_fullname }}</td>
                                <td>{{ form3.f_remarks }}</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>{{ form3.f_relation }}</td>
                                <td>{{ form3.f_fullname }}</td>
                                <td>{{ form3.f_remarks }}</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>{{ form3.f_relation }}</td>
                                <td>{{ form3.f_fullname }}</td>
                                <td>{{ form3.f_remarks }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab4" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
            <div  class="panel panel-primary " >
                <div class="panel-body">
                    <div class="form-group row">
                    <h4>Details of Income Source</h4>
                        <table class="table table-bordered">
                         <thead >
                             <tr>
                                 <th>S.N.</th>
                                 <th>Name of the Employer Organization</th>
                                 <th>Address</th>
                                 <th>Designation</th>
                             </tr>
                         </thead>
                         <tbody id="">
                             <tr>
                                 <td>1</td>
                                 <td>{{form2.organization}}</td>					               
                                 <td>{{form2.address}}</td>  
                                 <td>{{form2.designation}}</td>					                					       	
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>{{form2.organization}}</td>					               
                                    <td>{{form2.address}}</td>  
                                    <td>{{form2.designation}}</td>					                					       	
                                   </tr>
                                   <tr>
                                    <td>3</td>
                                    <td>{{form2.organization}}</td>					               
                                    <td>{{form2.address}}</td>  
                                    <td>{{form2.designation}}</td>					                					       	
                                   </tr>
                                   
                            </tbody>
                         
                        </table>
                    </div>
                    
                <div class="toolbar">
                    <div class="sw-btn-group text-right mt-3">
                      
                      

                            <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </div>
                    
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <!-- Include optional progressbar HTML -->
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

</div>
<!-- poppup -->




<script>
   $(document).ready(function(){
    $('#smartwizard').smartWizard();
    $('#smartwizard').on('showStep', function(e, anchorObject, stepNumber, stepDirection, stepPosition) {
    if (stepNumber === 0) {
        $('.sw-btn-prev').hide();
        $('.sw-btn-next').show();
    } 

    else if (stepNumber === 3) {
      
        $('.sw-btn-prev').show();
        $('.sw-btn-next').hide();
    
    } else {
        $('.sw-btn-prev').show();        
        $('.sw-btn-next').show();
       
    }
});

    
});
 </script>      
        
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
       <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/smartwizard@6/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>   

 {% endblock %}